language: python
python:
      - '3.8.2'

before_script:
      - pip install -r requirements.txt
      - pip install django-crispy-forms
      - export DJANGO_SETTINGS_MODULE=projet8.settings
      - export PYTHONPATH=$HOME/builds/apolloparty/projet8
      - export PIP_USE_MIRRORS=true

branches:
    only:
        - staging

services:
      postgresql

script:
      - ./manage.py test