<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/theme2.css' %}"/>
    <title>PUR BEURRE</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="topbar">
<a class="navbar-brand" href="/">
    <img src="{% static "images/logo_pur_beurre.png" %}" alt="logo">
    Pur Beurre
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <form class="navbar-search pull-left">
          <input type="text" class="search-query" placeholder="Chercher" id="topEntry">
        </form>
        <li class="nav-item">
          <a class="nav-link" href="/account">
          <img src="{% static "images/login.png" %}" alt="logo">
          Mon compte
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datadisp">
            <img src="{% static "images/save.png" %}" alt="logo">
            Mes aliments
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">
            <img src="{% static "images/logout.png" %}" alt="logo">
            Déconnexion
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

<header class="masthead">
<div class="jumbotron jumbotron-fluid" id="jumbotron">
  <div class="container">
    <br><br><br>
    <h1 id="main-text" class="text-center">Du gras, oui, mais de la qualité !</h1>
    <br>
    <h2 id="main-sub-text" class="text-center">Trouvez un produit de substitution
      <br>pour ceux que vous consommez
      <br>tous les jours.
    </h2>
    <br>
    <form class="form-inline justify-content-center" method="POST" action="datadisp"> {% csrf_token %}
      <input class="form-control" type="text" placeholder="Produit" name="product_search">
      <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Chercher</button>
    </form>
  </div>
</header>

<div class="jumbotron jumbotron-fluid" id="mid-text">
<div class="row">
    <div class="container" >  
      <h2 class="text-center">Colette et Remy <br>-</h2>
      <p class="text-center">HISTOIRE {{brand}}</p>
</div>
</div>
   <div class="row">
    <div class="col-sm-6">
        <img src="{% static "images/carrot.png" %}" class="rounded mx-auto d-block" Alt="My image">
         <p class="text-center">Colette</p>
      </div>
      <div class="col-sm-6">
        <img src="{% static "images/carrot.png" %}" class="rounded mx-auto d-block" Alt="My image">
        <p class="text-center">Remy</p>
      </div>
    </div>
  </div>
    
  <div class="container">  
    <hr class="my-4">
    <h2 id="bot-text" class="text-center">Contactez-nous ! <br>-</h2>
    <div class="row">
    <div class="col-sm-6">
        <img src="{% static "images/telephone.png" %}" class="rounded mx-auto d-block" Alt="My image">
        <p class="text-center">06 XX XX XX XX</p>
      </div>
      <div class="col-sm-6">
        <img src="{% static "images/mail.png" %}" class="rounded mx-auto d-block" Alt="My image">
        <p class="text-center">a@gmail.com</p>
      </div>
    </div>
  </div>
  </div>
</div>
</body>
</html>