{% load static %}
<div class="row">            
    <div class="col-sm-6">
        <div class="portfolio-item mx-auto">
            <div class="d-flex align-items-center justify-content-center h-100 w-100">
            </div>
            <img class="img-fluid rounded mx-auto d-block" src="{% static "images/colette.png" %}" Alt="My image" width="200" height="200">
            <p class="text-center">Colette</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="portfolio-item mx-auto">
            <div class=" d-flex align-items-center justify-content-center h-100 w-100">
            </div>
            <img class="img-fluid rounded mx-auto d-block" src="{% static "images/ratatouille.jpg" %}" Alt="My image" width="200" height="200">
            <p class="text-center">Remy</p>
        </div>
    </div>
</div>