<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title>PUR BEURRE</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <body id="page-top">
        <!-- Navigation-->
        {% include 'subtemplates/navigation.html' %}
        <!-- Masthead-->
        <header class="masthead text-white text-center" id="head-custom">
            <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">{{username}}</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light"></div>
                <!-- Masthead Subheading-->
                <ul>
                  <!-- {% for key in "1" %}
                    <li>{{key}}</li>
                  {% endfor %} -->
                  </ul>
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">                  
                </h2>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- E-mail display-->
                <div class="divider-custom divider-light"></div>
                <div class="text-center">
                <h4 class="text-center mb-0"> {{ email }}</h4>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light"></div>
                <div class="divider-custom divider-light"></div>
                <!-- Portfolio Grid Items-->
                <div class="row">
                    <!-- Portfolio Item 1-->
                    {% for i in obj_test %}
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <div class="img_fix" style="position:relative;">
                                <div class="divider-custom divider-light"></div>
                                <img class="img1" src="{{i.image_url}}" Alt="{% static "images/carrot.png" %}" width="300" height="300">
                                <img class="img2" src="{% static "images/nutriscore_"%}{{i.nutriscore}}.jpg" width="80" height="80" style="position: absolute; left:4%; top:-58%; margin-top: 53%; margin-left: 70%; border-radius: 50%;"> 
                            </div>
                        </div>
                        <p class="text-center">{{product1.brand}}</br>{{product1.product}}</br>
                            <form class="text-center" action="saved" method="POST"> {% csrf_token %}
                                <input type="hidden" value={{i.id}} name="btn_details">
                                <input type="hidden" value="1" name="btn_details">
                                <input type="hidden" value={{product_overall}} name="btn_details">
                                <input type="image" src="{% static "images/save.png" %}" alt="logo"> Détails du produit
                            </form>
                            <form class="text-center" action="myfood" method="POST"> {% csrf_token %}
                                <input type="hidden" value={{i.id}} name="btn_delete">
                                <input type="hidden" value={{product_overall}} name="btn_delete">
                                <input type="image" src="{% static "images/save.png" %}" alt="logo"> Supprimer le favori
                            </form>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Footer-->
        {% include 'subtemplates/product_list.html' %}
    </body>
</html>