<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title>PUR BEURRE</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <body id="page-top">
        <!-- Navigation-->
    {% include 'subtemplates/navigation.html' %}
        <!-- Masthead-->
        {% include 'subtemplates/index_header.html' %}
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Colette et Remy</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Colette and Remy biography-->
                {% include 'subtemplates/maintext.html' %}
                <!--Colette and Remy pictures on grid-->
                {% include 'subtemplates/characters.html' %}
            </div>
        </section>
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactez-nous !</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light"></div>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                  <div class="col-sm-6">
                    <img src="{% static "images/telephone.png" %}" class="rounded mx-auto d-block" Alt="My image">
                    <p class="text-center">06 XX XX XX XX</p>
                  </div>
                  <div class="col-sm-6">
                    <img src="{% static "images/mail.png" %}" class="rounded mx-auto d-block" Alt="My image">
                    <p class="text-center">a@gmail.com</p>
                  </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        {% include 'subtemplates/footer.html' %}
    </body>
</html>
